html
    head
        link(rel='stylesheet' href='/ex1.css')
    body
        div.container
            header
                h1 #{placeholder}
            content
                h1 #{placeholder}
            sidebar
                h1 #{placeholder2}
            twin1
                h1 #{placeholder2}
            twin2
                h1 #{placeholder2}
            footer
                h1 #{placeholder}