html
    head
        link(rel='stylesheet' href='/ex2.css')
    body
        div.container2
            header
                h1 #{placeholder1}
            article
                h1 #{placeholder1}
            content
                h1 #{placeholder1}
            aside1
                h1 #{placeholder1}
            aside2
                h1 #{placeholder1}